<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>PAN-CAKE</string>
		<string>pub01.jpg</string>
		<string>Il fit de la sorte un assez long chemin, regardant, appelant, criant, mais il ne rencontra plus personne. Deux ou trois fois il courut dans la plaine vers quelque chose qui lui faisait l&apos;effet d&apos;un être couché ou accroupi; ce n&apos;était que des broussailles ou des roches à fleur de terre. Enfin, à un endroit où trois sentiers se croisaient, il s&apos;arrêta. La lune s&apos;était levée. Il promena sa vue au loin et appela une dernière fois: Petit-Gervais!</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Loterie Nationale</string>
		<string>pub02.jpg</string>
		<string>Petit-Gervais! Petit-Gervais! Son cri s&apos;éteignit dans la brume, sans même éveiller un écho. Il murmura encore: Petit-Gervais! mais d&apos;une voix faible et presque inarticulée. </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Lustucru</string>
		<string>pub03.jpg</string>
		<string>Ce fut là son dernier effort; ses jarrets fléchirent brusquement sous lui comme si une puissance invisible l&apos;accablait tout à coup du poids de sa mauvaise conscience; il tomba épuisé sur une grosse pierre, les poings dans ses cheveux et le visage dans ses genoux, et il cria: Je suis un misérable! </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Cote d&apos;or&apos;</string>
		<string>pub04.jpg</string>
		<string>Alors son coeur creva et il se mit à pleurer. C&apos;était la première fois qu&apos;il pleurait depuis dix-neuf ans.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Coca Cola</string>
		<string>pub05.jpg</string>
		<string>Quand Jean Valjean était sorti de chez l&apos;évêque, on l&apos;a vu, il était hors de tout ce qui avait été sa pensée jusque-là. Il ne pouvait se rendre compte de ce qui se passait en lui. Il se raidissait contre l&apos;action angélique et contre les douces paroles du vieillard. </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Roja &quot;Flore&quot;</string>
		<string>pub06.jpg</string>
		<string>«Vous m&apos;avez promis de devenir honnête homme. Je vous achète votre âme. Je la retire à l&apos;esprit de perversité et je la donne au bon Dieu.» </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Citron Salomon</string>
		<string>pub07.jpg</string>
		<string>Cela lui revenait sans cesse. Il opposait à cette indulgence céleste l&apos;orgueil, qui est en nous comme la forteresse du mal. </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Liebig</string>
		<string>pub08.jpg</string>
		<string>Il sentait indistinctement que le pardon de ce prêtre était le plus grand assaut et la plus formidable attaque dont il eût encore été ébranlé; que son endurcissement serait définitif s&apos;il résistait à cette clémence; que, s&apos;il cédait, il faudrait renoncer à cette haine dont les actions des autres hommes avaient rempli son âme pendant tant d&apos;années, et qui lui plaisait; que cette fois il fallait vaincre ou être vaincu, et que la lutte, une lutte colossale et décisive, était engagée entre sa méchanceté à lui et la bonté de cet homme.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Au printemps</string>
		<string>pub09.jpg</string>
		<string>  En présence de toutes ces lueurs, il allait comme un homme ivre. Pendant qu&apos;il marchait ainsi, les yeux hagards, avait-il une perception distincte de ce qui pourrait résulter pour lui de son aventure à Digne? Entendait-il tous ces bourdonnements mystérieux qui avertissent ou importunent l&apos;esprit à de certains moments de la vie?</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Coca Cola</string>
		<string>pub10.jpg</string>
		<string>Une voix lui disait-elle à l&apos;oreille qu&apos;il venait de traverser l&apos;heure solennelle de sa destinée, qu&apos;il n&apos;y avait plus de milieu pour lui, que si désormais il n&apos;était pas le meilleur des hommes il en serait le pire, qu&apos;il fallait pour ainsi dire que maintenant il montât plus haut que l&apos;évêque ou retombât plus bas que le galérien, que s&apos;il voulait devenir bon il fallait qu&apos;il devînt ange; que s&apos;il voulait rester méchant il fallait qu&apos;il devînt monstre? </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Motricine</string>
		<string>pub11.jpg</string>
		<string>Ici encore il faut se faire ces questions que nous nous sommes déjà faites ailleurs, recueillait-il confusément quelque ombre de tout ceci dans sa pensée? Certes, le malheur, nous l&apos;avons dit, fait l&apos;éducation de l&apos;intelligence; cependant il est douteux que Jean Valjean fût en état de démêler tout ce que nous indiquons ici. Si ces idées lui arrivaient, il les entrevoyait plutôt qu&apos;il ne les voyait, et elles ne réussissaient qu&apos;à le jeter dans un trouble insupportable et presque douloureux.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Pate dentifrice</string>
		<string>pub12.jpg</string>
		<string>Au sortir de cette chose difforme et noire qu&apos;on appelle le bagne, l&apos;évêque lui avait fait mal à l&apos;âme comme une clarté trop vive lui eût fait mal aux yeux en sortant des ténèbres. La vie future, la vie possible qui s&apos;offrait désormais à lui toute pure et toute rayonnante le remplissait de frémissements et d&apos;anxiété. Il ne savait vraiment plus où il en était. Comme une chouette qui verrait brusquement se lever le soleil, le forçat avait été ébloui et comme aveuglé par la vertu.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Brillantine</string>
		<string>pub13.jpg</string>
		<string>Ce qui était certain, ce dont il ne se doutait pas, c&apos;est qu&apos;il n&apos;était déjà plus le même homme, c&apos;est que tout était changé en lui, c&apos;est qu&apos;il n&apos;était plus en son pouvoir de faire que l&apos;évêque ne lui eût pas parlé et ne l&apos;eût pas touché.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Farine Nestlé</string>
		<string>pub14.jpg</string>
		<string>Dans cette situation d&apos;esprit, il avait rencontré Petit-Gervais et lui avait volé ses quarante sous. Pourquoi? Il n&apos;eût assurément pu l&apos;expliquer; était-ce un dernier effet et comme un suprême effort des mauvaises pensées qu&apos;il avait apportées du bagne, un reste d&apos;impulsion, un résultat de ce qu&apos;on appelle en statique la force acquise? </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Vichy</string>
		<string>pub15.jpg</string>
		<string>C&apos;était cela, et c&apos;était aussi peut-être moins encore que cela. Disons-le simplement, ce n&apos;était pas lui qui avait volé, ce n&apos;était pas l&apos;homme, c&apos;était la bête qui, par habitude et par instinct, avait stupidement posé le pied sur cet argent, pendant que l&apos;intelligence se débattait au milieu de tant d&apos;obsessions inouïes et nouvelles. Quand l&apos;intelligence se réveilla et vit cette action de la brute, Jean Valjean recula avec angoisse et poussa un cri d&apos;épouvante.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Suchard</string>
		<string>pub16.jpg</string>
		<string>C&apos;est que, phénomène étrange et qui n&apos;était possible que dans la situation où il était, en volant cet argent à cet enfant, il avait fait une chose dont il n&apos;était déjà plus capable.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Lait pur</string>
		<string>pub17.jpg</string>
		<string> Quoi qu&apos;il en soit, cette dernière mauvaise action eut sur lui un effet décisif; elle traversa brusquement ce chaos qu&apos;il avait dans l&apos;intelligence et le dissipa, mit d&apos;un côté les épaisseurs obscures et de l&apos;autre la lumière, et agit sur son âme, dans l&apos;état où elle se trouvait, comme de certains réactifs chimiques agissent sur un mélange trouble en précipitant un élément et en clarifiant l&apos;autre.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Biscuits Lefèvre</string>
		<string>pub18.jpg</string>
		<string>Tout d&apos;abord, avant même de s&apos;examiner et de réfléchir, éperdu, comme quelqu&apos;un qui cherche à se sauver, il tâcha de retrouver l&apos;enfant pour lui rendre son argent, puis, quand il reconnut que cela était inutile et impossible, il s&apos;arrêta désespéré. Au moment où il s&apos;écria: je suis un misérable! il venait de s&apos;apercevoir tel qu&apos;il était, et il était déjà à ce point séparé de lui-même, qu&apos;il lui semblait qu&apos;il n&apos;était plus qu&apos;un fantôme, et qu&apos;il avait là devant lui, en chair et en os, le bâton à la main, la blouse sur les reins, son sac rempli d&apos;objets volés sur le dos, avec son visage résolu et morne, avec sa pensée pleine de projets abominables, le hideux galérien Jean Valjean.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Michel &amp; C</string>
		<string>pub19.jpg</string>
		<string>L&apos;excès du malheur, nous l&apos;avons remarqué, l&apos;avait fait en quelque sorte visionnaire. Ceci fut donc comme une vision. Il vit véritablement ce Jean Valjean, cette face sinistre devant lui. Il fut presque au moment de se demander qui était cet homme, et il en eut horreur.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Terminus</string>
		<string>pub20.jpg</string>
		<string>Son cerveau était dans un de ces moments violents et pourtant affreusement calmes où la rêverie est si profonde qu&apos;elle absorbe la réalité. On ne voit plus les objets qu&apos;on a autour de soi, et l&apos;on voit comme en dehors de soi les figures qu&apos;on a dans l&apos;esprit.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Van Houten</string>
		<string>pub21.jpg</string>
		<string>Il se contempla donc, pour ainsi dire, face à face, et en même temps, à travers cette hallucination, il voyait dans une profondeur mystérieuse une sorte de lumière qu&apos;il prit d&apos;abord pour un flambeau. En regardant avec plus d&apos;attention cette lumière qui apparaissait à sa conscience, il reconnut qu&apos;elle avait la forme humaine, et que ce flambeau était l&apos;évêque.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Macaronis Nyon</string>
		<string>pub22.jpg</string>
		<string>Sa conscience considéra tour à tour ces deux hommes ainsi placés devant elle, l&apos;évêque et Jean Valjean. Il n&apos;avait pas fallu moins que le premier pour détremper le second. Par un de ces effets singuliers qui sont propres à ces sortes d&apos;extases, à mesure que sa rêverie se prolongeait, l&apos;évêque grandissait et resplendissait à ses yeux, Jean Valjean s&apos;amoindrissait et s&apos;effaçait. A un certain moment il ne fut plus qu&apos;une ombre. Tout à coup il disparut. L&apos;évêque seul était resté.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Félix Potin</string>
		<string>pub23.jpg</string>
		<string>Il remplissait toute l&apos;âme de ce misérable d&apos;un rayonnement magnifique. Jean Valjean pleura longtemps. Il pleura à chaudes larmes, il pleura à sanglots, avec plus de faiblesse qu&apos;une femme, avec plus d&apos;effroi qu&apos;un enfant.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Harley-Davidson</string>
		<string>pub24.jpg</string>
		<string> Pendant qu&apos;il pleurait, le jour se faisait de plus en plus dans son cerveau, un jour extraordinaire, un jour ravissant et terrible à la fois. Sa vie passée, sa première faute, sa longue expiation, son abrutissement extérieur, son endurcissement intérieur, sa mise en liberté réjouie par tant de plans de vengeance, ce qui lui était arrivé chez l&apos;évêque, la dernière chose qu&apos;il avait faite, ce vol de quarante sous à un enfant, crime d&apos;autant plus lâche et d&apos;autant plus monstrueux qu&apos;il venait après le pardon de l&apos;évêque, tout cela lui revint et lui apparut, clairement, mais dans une clarté qu&apos;il n&apos;avait jamais vue jusque-là. Il regarda sa vie, et elle lui parut horrible; son âme, et elle lui parut affreuse. Cependant un jour doux était sur cette vie et sur cette âme. Il lui semblait qu&apos;il voyait Satan à la lumière du paradis.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Barnum &amp; Bailey</string>
		<string>pub25.png</string>
		<string>Combien d&apos;heures pleura-t-il ainsi? que fit-il après avoir pleuré? où alla-t-il? on ne l&apos;a jamais su. Il paraît seulement avéré que, dans cette même nuit, le voiturier qui faisait à cette époque le service de Grenoble et qui arrivait à Digne vers trois heures du matin, vit en traversant la rue de l&apos;évêché un homme dans l&apos;attitude de la prière, à genoux sur le pavé, dans l&apos;ombre, devant la porte de monseigneur Bienvenu.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Cachou Lajaune</string>
		<string>pub26.jpg</string>
		<string>1817 est l&apos;année que Louis XVIII, avec un certain aplomb royal qui ne manquait pas de fierté, qualifiait la vingt-deuxième de son règne. C&apos;est l&apos;année où M. Bruguière de Sorsum était célèbre. Toutes les boutiques des perruquiers, espérant la poudre et le retour de l&apos;oiseau royal, étaient badigeonnées d&apos;azur et fleurdelysées. C&apos;était le temps candide où le comte Lynch siégeait tous les dimanches comme marguillier au banc d&apos;oeuvre de Saint-Germain-des-Prés en habit de pair de France, avec son cordon rouge et son long nez, et cette majesté de profil particulière à un homme qui a fait une action d&apos;éclat. L&apos;action d&apos;éclat commise par M. Lynch était ceci: avoir, étant maire de Bordeaux, le 12 mars 1814, donné la ville un peu trop tôt à M. le duc d&apos;Angoulême.</string>
		<string>1.99</string>
	</array>
	<array>
		<string>Maggi</string>
		<string>pub27.jpg</string>
		<string>De là sa pairie. En 1817, la mode engloutissait les petits garçons de quatre à six ans sous de vastes casquettes en cuir maroquiné à oreillons assez ressemblantes à des mitres d&apos;esquimaux. L&apos;armée française était vêtue de blanc, à l&apos;autrichienne; les régiments s&apos;appelaient légions; au lieu de chiffres ils portaient les noms des départements. Napoléon était à Sainte-Hélène, et, comme l&apos;Angleterre lui refusait du drap vert, il faisait retourner ses vieux habits. En 1817, Pellegrini chantait, mademoiselle Bigottini dansait; Potier régnait; Odry n&apos;existait pas encore. Madame Saqui succédait à Forioso. </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Samaritaine</string>
		<string>pub28.jpg</string>
		<string>Il y avait encore des Prussiens en France. M. Delalot était un personnage. La légitimité venait de s&apos;affirmer en coupant le poing, puis la tête, à Pleignier, à Carbonneau et à Tolleron. Le prince de Talleyrand, grand chambellan, et l&apos;abbé Louis, ministre désigné des finances, se regardaient en riant du rire de deux augures; tous deux avaient célébré, le 14 juillet 1790, la messe de la Fédération au Champ de Mars; Talleyrand l&apos;avait dite comme évêque, Louis l&apos;avait servie comme diacre. </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Biscuit Brun</string>
		<string>pub29.jpg</string>
		<string>En 1817, dans les contre-allées de ce même Champ de Mars, on apercevait de gros cylindres de bois, gisant sous la pluie, pourrissant dans l&apos;herbe, peints en bleu avec des traces d&apos;aigles et d&apos;abeilles dédorées. C&apos;étaient les colonnes qui, deux ans auparavant, avaient soutenu l&apos;estrade de l&apos;empereur au Champ de Mai. Elles étaient noircies çà et là de la brûlure du bivouac des Autrichiens baraqués près du Gros-Caillou. </string>
		<string>1.99</string>
	</array>
	<array>
		<string>Halle aux chapeaux</string>
		<string>pub30.jpg</string>
		<string>Deux ou trois de ces colonnes avaient disparu dans les feux de ces bivouacs et avaient chauffé les larges mains des kaiserlicks. Le Champ de Mai avait eu cela de remarquable qu&apos;il avait été tenu au mois de juin et au Champ de Mars. En cette année 1817, deux choses étaient populaires: le Voltaire-Touquet et la tabatière à la Charte. L&apos;émotion parisienne la plus récente était le crime de Dautun qui avait jeté la tête de son frère dans le bassin du Marché-aux-Fleurs. On commençait à faire au ministère de la marine une enquête sur cette fatale frégate de la Méduse qui devait couvrir de honte Chaumareix et de gloire Géricault. Le colonel Selves allait en Egypte pour y devenir Soliman pacha. </string>
		<string>1.99</string>
	</array>
</array>
</plist>
